# {{ ansible_managed }}

[Unit]
Description=Check and update cluster availability

[Timer]
Unit=monitor_clusters.service
OnCalendar={{ monitor_clusters_oncalendar }}
RandomizedDelaySec=300
Persistent=true

[Install]
WantedBy=timers.target
