
####################################################
# Add the following entries on your local machine  #
# to ~/.ssh/config .                                #
####################################################

## CloudLab & SLATE Local Development
Host cloudlab-slate-localdev
  HostName <cloudlab hostname>
  IdentityFile </path/to/privatekey>
  Port 22
  User <cloudlab user>

Host clionremote
  HostName 127.0.0.1
  Port 2222
  ProxyJump cloudlab-slate-localdev
  User clionremote