
####################################################
# This is a template file. Do not add actual       #
# values here. See README.md for instructions.     #
####################################################

Host cloudlab-host
  HostName <cloudlab hostname>
  IdentityFile /path/to/privatekey
  Port 22
  User <cloudlab user>
