####################################################
# This is an example file. Do not add actual       #
# values here. See README.md for instructions.     #
####################################################

allowAdHocApps XXXX
appLoggingServerName=XXXX
appLoggingServerPort=XXXX
awsEndpoint=XXXX
awsRegion=XXXX
awsURLScheme=XXXX
awsAccessKey=XXXX
awsSecretKey=XXXX
encryptionKeyFile=/encryptionKey
geocodeToken=XXXX
mailgunKey=XXXX
slateAPIToken=XXXX
sslCertificate=XXXX
sslKey=XXXX
threads=128