####################################################
# This is an example file. Do not add actual       #
# values here. See README.md for instructions.     #
####################################################

allowAdHocApps true
appLoggingServerName=XXXX
appLoggingServerPort=XXXX
awsEndpoint=slate_database:8000
awsRegion=XXXX
awsURLScheme=XXXX
awsAccessKey=XXXX
awsSecretKey=XXXX
encryptionKeyFile=/encryptionKey
geocodeToken=XXXX
mailgunKey=XXXX
slateAPIToken=XXXX
sslCertificate=XXXX
sslKey=XXXX
threads=128