# {{ ansible_managed }}

[Unit]
Description=SLATE API Server
After=syslog.target network.target

[Service]
User=slate
Type=simple
Environment="NSS_SDB_USE_CACHE={{ slate_nss_sdb_use_cache }}"
ExecStart={{ slate_install_dest }}/slate-service --config {{ slate_install_dest }}/slate.conf
Restart=always
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
