# {{ ansible_managed }}

allowAdHocApps false
appLoggingServerName=atlas-kibana.mwt2.org
appLoggingServerPort=9200
awsEndpoint=dynamodb.us-east-2.amazonaws.com
awsRegion=us-east-2
awsURLScheme=https
awsAccessKey=XXXX
awsSecretKey=XXXX
geocodeToken=XXXX
mailgunKey=key-XXXX
sslCertificate={{ slate_certificate.file }}
sslKey={{ slate_certificate.key_file }}
threads=128
