[Unit]
Description=SLATE API Server
After=syslog.target network.target

[Service]
User=centos
Type=simple
WorkingDirectory=/home/centos/slate-client-server/build/
ExecStart=/home/centos/slate-client-server/build/slate-service --sslCertificate /home/centos/slate-client-server/build/fullchain.pem --sslKey /home/centos/slate-client-server/build/privkey.pem --awsURLScheme http --awsEndpoint localhost:8000 --awsAccessKey foo --awsSecretKey bar --allowAdHocApps true
Restart=always

[Install]
WantedBy=multi-user.target
