---

####################################################
# This is an example file. Do not add actual       #
# values here. See README.md for instructions.     #
####################################################

#slate_aws_access_key: "XXXX"
#slate_aws_secret_key: "XXXX"
#slate_geocode_token: "XXXX"
#slate_mailgun_key: "XXXX"