---

####################################################
# This is an example file. Do not add actual       #
# values here. See README.md for instructions.     #
####################################################

slate_api_token: "XXXX"
slate_portal_client_id: "XXXX"
slate_portal_client_secret: "XXXX"
