#!/bin/sh
# {{ ansible_managed }}

source {{ slate_install_dest }}/slate.conf

export SLATE_API_TOKEN=$slateAPIToken

clusters=$(curl -s https://{{ slate_hostname }}:18080/v1alpha3/clusters?token=${SLATE_API_TOKEN} \
| sed -e 's|{|{\
|g' -e 's|,|,\
|g' | sed -n 's|"id":"\([^"]*\)".*|\1|p')

REQUEST="{"
for cluster in $clusters; do
	REQUEST="${REQUEST}"'"/v1alpha3/clusters/'"${cluster}/ping?token=${SLATE_API_TOKEN}"'":{"method":"GET"},'
done
REQUEST=$(echo "$REQUEST" | sed 's|,$|}|')
curl -s -d "$REQUEST" https://{{ slate_hostname }}:18080/v1alpha3/multiplex?token=${SLATE_API_TOKEN} > /dev/null
