---
apiVersion: v1
kind: Config
clusters:
  - cluster:
      certificate-authority: {{ certificate_authority }}
      extensions:
        - extension:
            provider: minikube.sigs.k8s.io
            version: {{ kubernetes_version }}
          name: cluster_info
      server: https://{{ server_ip }}:8443
    name: minikube
contexts:
  - context:
      cluster: minikube
      user: minikube
    name: minikube
current-context: minikube
preferences: {}
users:
  - name: minikube
    user:
      client-certificate: /home/clionremote/.kube/client.crt
      client-key: /home/clionremote/.kube/client.key
